<!DOCTYPE html>
<html>
    <head>
        <title>Cloudify : EMS Test Portal</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">EMS Test Portal</a>
                </div>
            </div>
        </nav>
        <div class="container">
            
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="panel panel-default login-panel" style="position: relative; top: 50%; transform: translateY(50%);">
                        <div class="panel-heading" style="text-align:center">
                            Login
                        </div>
                        
                        <div class="panel-body">
                            
                            <form class="form-horizontal" role="form">

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" id="user-id" placeholder="Username">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="password" class="form-control" id="password" placeholder="Password">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button class="btn btn-primary" style="width:100%" id="sign-in-btn">Sign me in</button>
                                    </div>
                                </div>
                                
                                <div class="form-group error" style="text-align:center; color:red; margin-bottom:0px; display:none">
                                    <div class="col-sm-12">
                                        Authentication Failed
                                    </div>
                                </div>
                                
                            </form>
                            
                        </div>
                        
                        <div class="panel-footer" style="text-align:center">
                            Powered by Cloudify
                        </div>
                        
                    </div>
                </div>
            </div>
            
            
        </div>
        <section>
            <script type="text/javascript" src="/public/jquery/jquery-1.12.3.min.js"></script>
            <script type="text/javascript" src="/public/bootstrap/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="/public/js/login.js"></script>
        </section>
    </body>
</html>