<!DOCTYPE html>
<html>
    <head>
        <title>Cloudify : EMS Test Portal</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">EMS Test Portal</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> <%= name %> </a></li>
                    <li><a href="./logout"><span class="glyphicon glyphicon-log-out"></span> Sign Out </a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <h3 style="text-align:center">Welcome <%= name %>. You are signed in with <%= role %> privileges.</h3>
        </div>
        <section>
            <script type="text/javascript" src="/public/jquery/jquery-1.12.3.min.js"></script>
            <script type="text/javascript" src="/public/bootstrap/js/bootstrap.min.js"></script>
        </section>
    </body>
</html>